<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
    <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_persona})}|">Show Persona - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-th-fragment="inline-content" data-layout-fragment="content" data-th-object="${persona}">
        <div>

          <!-- CONTENT -->
            <div id="mainEntityFieldSet">
              <ul class="list-unstyled" id="containerFields">
                  <li id="persona-username-field" data-z="6038e841">
            	      <strong data-th-text="#{label_persona_username}">username</strong>
                    <span data-th-text="*{{username}}">usernameValue</span>
         	        </li>
                  <li id="persona-password-field" data-z="d4f9c3a1">
            	      <strong data-th-text="#{label_persona_password}">password</strong>
                    <span data-th-text="*{{password}}">passwordValue</span>
         	        </li>
                  <li id="persona-email-field" data-z="65218d7d">
            	      <strong data-th-text="#{label_persona_email}">email</strong>
                    <span data-th-text="*{{email}}">emailValue</span>
         	        </li>
                  <li id="persona-telefono-field" data-z="83e51c81">
            	      <strong data-th-text="#{label_persona_telefono}">telefono</strong>
                    <span data-th-text="*{{telefono}}">telefonoValue</span>
         	        </li>
                  <li id="persona-avatar-field" data-z="b7f52461">
            	      <strong data-th-text="#{label_persona_avatar}">avatar</strong>
                    <span data-th-text="*{{avatar}}">avatarValue</span>
         	        </li>
                  <li id="persona-enabled-field" data-z="31e37d5d">
            	      <strong data-th-text="#{label_persona_enabled}">enabled</strong>
                    <span data-th-text="*{{enabled}}">enabledValue</span>
         	        </li>
              </ul>
            </div>

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
