<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-layout}">
  <head id="head">

    <title data-th-text="#{calificacioncliente_titulo}">
      Create CalificacionCliente - oficios - SpringRoo Application</title>

    <!-- DateTimePicker -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.min.css" data-th-href="@{/webjars/datetimepicker/build/jquery.datetimepicker.min.css}" />

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!-- CONTAINER -->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-layout-fragment="content">
        <div class="container-fluid content" data-th-with="collectionLink=${@linkBuilder.of('CalificacionClientesCollectionThymeleafController')}">

          <h1 data-th-text="#{calificacioncliente_titulo}">Create CalificacionCliente</h1>

          <!-- FORM -->
          <form class="form-horizontal validate" method="POST" data-th-object="${calificacionCliente}" data-th-action="@{${collectionLink.to('create').with('calificacionCliente', calificacionCliente.id)}}">

            <fieldset id="containerFields">
              <legend class="sr-only" data-th-text="#{label_data_entity(#{label_calificacioncliente})}">CalificacionCliente data </legend>

<div class="form-group has-error has-feedback" data-z="f89a0e8e" id="calificacioncliente-comentario-field" data-th-classappend="${#fields.hasErrors('comentario')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="comentario" class="col-md-3 control-label" data-th-text="#{label_calificacioncliente_comentario}">comentario</label>
  <div class="col-md-6">
    <textarea id="comentario" rows="5" maxlength="250" name="comentario" data-th-value="*{{comentario}}" class="form-control" placeholder="comentario" data-th-placeholder="#{label_calificacioncliente_comentario}" data-toggle="tooltip" aria-describedby="comentarioStatus" required="required"></textarea>
      <span data-th-classappend="${#fields.hasErrors('comentario')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('comentario')}" aria-hidden="true"></span>
      <span id="comentario-error" class="help-block" data-th-if="${#fields.hasErrors('comentario')}" data-th-errors="*{comentario}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="a74d976e" id="calificacioncliente-tipo-field" data-th-classappend="${#fields.hasErrors('tipo')}? 'has-error has-feedback'" data-th-class="form-group">
    <label for="tipo" class="col-md-3 control-label" data-th-text="#{label_calificacioncliente_tipo}">tipo</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{tipo}" class="form-control dropdown-select-simple" data-allow-clear="true" data-th-attr="data-placeholder=#{info_select_an_option}">
         <option data-th-each="item : ${tipo}" data-th-value="${item}" data-th-text="${{item}}">Value</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('tipo')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('tipo')}" aria-hidden="true"></span>
      <span id="tipo-error" class="help-block" data-th-if="${#fields.hasErrors('tipo')}" data-th-errors="*{tipo}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="4a346450" id="calificacioncliente-autor-field" data-th-classappend="${#fields.hasErrors('autor')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('ClientesCollectionThymeleafController')}">
    <label for="autor" class="col-md-3 control-label" data-th-text="#{label_calificacioncliente_autor}">Cliente</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select disabled data-th-field="*{autor}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{autor} == null" data-th-value="*{autor.id}" data-th-text="*{{autor}}" selected="selected">Cliente</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('autor')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('autor')}" aria-hidden="true"></span>
      <span id="autor-error" class="help-block" data-th-if="${#fields.hasErrors('autor')}" data-th-errors="*{autor}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="24470bae" id="calificacioncliente-servicio-field" data-th-classappend="${#fields.hasErrors('servicio')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('ServiciosCollectionThymeleafController')}">
    <label for="servicio" class="col-md-3 control-label" data-th-text="#{label_calificacioncliente_servicio}">Servicio</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select disabled data-th-field="*{servicio}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{servicio} == null" data-th-value="*{servicio.id}" data-th-text="*{{servicio}}" selected="selected">Servicio</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('servicio')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('servicio')}" aria-hidden="true"></span>
      <span id="servicio-error" class="help-block" data-th-if="${#fields.hasErrors('servicio')}" data-th-errors="*{servicio}">Error message.</span>
    </div>
</div>
            </fieldset>


              <!-- buttons form -->
              <div class="form-group">
                <div class="col-md-9 col-md-offset-3">
                    <button type="submit" class="btn btn-primary" data-th-text="#{enviar_comentario}">Save</button>
                    <button type="reset" class="btn btn-default" onclick="window.history.back()" data-th-text="#{label_reset}">Cancel</button>
                </div>
              </div>

          </form>
          <!-- /FORM -->

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">

    <!-- DateTimePicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.min.js" data-th-src="@{/webjars/datetimepicker/build/jquery.datetimepicker.full.min.js}"></script>
    <script src="../../static/public/js/datetimepicker-defaults.js" data-th-src="@{/public/js/datetimepicker-defaults.js}"></script>

    <!-- jquery.inputmask -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.1/jquery.inputmask.bundle.min.js" data-th-src="@{/webjars/jquery.inputmask/min/jquery.inputmask.bundle.min.js}"></script>
    <script type="text/javascript" data-th-inline="javascript">
					(function(jQuery) {
						jQuery(document)
								.ready(
										function() {
											Inputmask
													.extendAliases({
														'numeric' : {
															'groupSeparator' : /*[[#{label_inputmask_groupSeparator}]]*/'.',
															'radixPoint' : /*[[#{label_inputmask_radixPoint}]]*/','
														},
														'currency' : {
															'prefix' : /*[[#{label_inputmask_prefix}]]*/'',
															'suffix' : /*[[#{label_inputmask_suffix}]]*/' €'
														}
													});
										});
					})(jQuery);
  		</script>
    <script src="../../static/public/js/inputmask-defaults.js" data-th-src="@{/public/js/inputmask-defaults.js}"></script>

    <!-- JQuery Validation -->
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js" data-th-src="@{/webjars/jquery-validation/dist/jquery.validate.min.js}">
		  </script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js" data-th-src="@{/webjars/jquery-validation/dist/additional-methods.min.js}">
			</script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/localization/messages_es.js" data-th-src="@{/webjars/jquery-validation/src/localization/messages_}+${#locale.language}+'.js'" data-th-if="${#locale.language} != 'en'">
			</script>
    <script src="../../static/public/js/validation-defaults.js" data-th-src="@{/public/js/validation-defaults.js}">
			</script>

    <script type="text/javascript" data-th-inline="javascript">
					(function(jQuery) {
						jQuery(document)
								.ready(
										function() {
											jQuery
													.extend(
															jQuery.validator.messages,
															{
																'dateformat' : /*[[#{error_invalid_date}]]*/'Please enter a correct date/time',
																'inputmask' : /*[[#{error_invalid_maskValue}]]*/'Please enter a valid value',
															});
										});
					})(jQuery);
		  </script>

    </div>

  </body>

</html>