<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
  <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_localidad})}|">Show Localidad - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-layout-fragment="content" data-th-object="${localidad}">
        <div class="container-fluid content">

          <!-- CONTENT -->
          <h1 data-th-text="#{label_show_entity(#{label_localidad})}">Show Localidad</h1>

            <div id="mainEntityFieldSet">
              <h2 data-th-text="#{label_data_entity(#{label_localidad})}">Localidad data</h2>
              <ul class="list-unstyled" id="containerFields">
                  <li id="localidad-nombre-field" data-z="241e50de">
            	      <strong data-th-text="#{label_localidad_nombre}">nombre</strong>
                    <span data-th-text="*{{nombre}}">nombreValue</span>
         	        </li>
                  <li id="localidad-descripcion-field" data-z="381e6c80">
            	      <strong data-th-text="#{label_localidad_descripcion}">descripcion</strong>
                    <span data-th-text="*{{descripcion}}">descripcionValue</span>
         	        </li>
              </ul>
            </div>


          <div class="clearfix">
            <div class="pull-right">
             <a id="Localidad_edit" href="edit.html" class="btn btn-primary" data-th-title="#{label_goEdit}" data-th-href="${@linkBuilder.of('LocalidadsItemThymeleafController').to('editForm').with('localidad', localidad.id)}" data-th-text="#{label_edit}">Edit</a>
            </div>
          </div>

	
			<img src="http://maps.googleapis.com/maps/api/staticmap?center=-32.889776,-68.844623&zoom=14&size=600x600&sensor=false&path=color:0x00000000|weight:5|fillcolor:0xff333353|-32.899419,%20-68.863625|-32.876463,%20-68.859321|-32.880179,%20-68.836590|-32.899283,%20-68.841458&key=AIzaSyBcHKgGm4tc6GowGP7Lhn_dzH9gRuxhJEo" width="600" height="600">
          <div class="clearfix">
            <div class="pull-left">
              <a id="Localidad_list" href="list.html" class="btn btn-default" data-th-title="#{label_goBack}" data-th-href="${@linkBuilder.of('LocalidadsCollectionThymeleafController').to('list')}">
  	             <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  	             <span data-th-text="#{label_back}">Back</span>
  	          </a>
            </div>
          </div>
        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
